<header class="header">
    <div class="header-wrapper">
        <!-- Header Copyright -->
        <div class="header-copyright">
            <div class="header-site">
                ©&nbsp;
                <script type="text/javascript">
                    var fd = new Date();
                    document.write(fd.getFullYear());
                </script>
                &nbsp;<%- config.title %>
            </div>
            <!--
            I'm glad you use this theme, the development is no so easy, I hope you can keep the copyright.
            It will not impact the appearance and can give developers a lot of support :)

            很高兴您使用该主题，开发不易，希望您可以保留一下版权声明。
            它不会影响美观并可以给开发者很大的支持。 :)
            -->
            <div>
                Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a>
                <br>
                Theme - <a href="https://github.com/viosey/hexo-theme-material" target="_blank" class="footer-develop-a">Material</a>
            </div>
        </div>

        <!-- Header Title -->
        <span class="header-title header-item">
            <a href="<%= config.root %>" title="<%= config.title %>">
                 <img src="<%= theme.img.avatar %>" alt="<%= config.author %>'s avatar" style="width: 44px;height: 44px;">
                <%= config.title %>
            </a>
        </span>

        <p class="header-slogan header-item">
        <% if(theme.uiux.slogan) { %>
            <% if(Array.isArray(theme.uiux.slogan)) { %>
                <%- theme.uiux.slogan.join('<br>') %>
            <% } else { %>
                <%- theme.uiux.slogan %>
            <% } %>
        <% } %>
        </p>


        <!--Weather-->
        <div id="tp-weather-widget" style="width: 100%;clear: both;margin-bottom: 30px;"></div>
        <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
        <script>tpwidget("init", {
                "flavor": "slim",
                "location": "WX4FBXXFKE4F",
                "geolocation": "enabled",
                "language": "zh-chs",
                "unit": "c",
                "theme": "chameleon",
                "container": "tp-weather-widget",
                "bubble": "enabled",
                "alarmType": "badge",
                "uid": "U225B44085",
                "hash": "12165cf5877927f038e9fb32ccccbd49"
            });
            tpwidget("show");</script>
        <!--Weather-->

        <!-- Header Nav -->
        <nav class="header-nav header-item">
            <span class="header-nav-item">
                <a href="<%= config.root %>" title="Home">
                    <span><%= __('misc.home') %></span>
                </a>
            </span>

            <!-- Pages  -->
            <% for (var i in theme.sidebar.pages) { %>
                <span class="header-nav-item">
                    <a href="<%= theme.sidebar.pages[i].link || '#' %>" title="<%= i %>">
                        <span><%= i %></span>
                    </a>
                </span>
            <% } %>
            
        </nav>

        <!-- Header SNS -->
        <%- partial('_partial/isolate-sns_list') %>
    </div>
</header>
